@import "./function";


* {
    position: relative;
}

html,
body {
    @include size(100%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#app {
    display: flex;
}

#listClock {
    @include size(830px, 800px);
    background-color: $color_red_light;
}

#functionchange {
    @include size(450px, 800px);
    background-color: $color_blue_darken;
}