@import "./function";


* {
    position: relative;
}

html,
body {
    @include size(100%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#edit {
    border: solid 1px black;
    @include size(1280px, 800px);
    background-color: $color_blue_darken;
    // @include size(100px, 100px);
}