@import "./function";


* {
    position: relative;
}

html,
body {
    @include size(100%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#edit {
    border: solid 1px black;
    @include size(1280px, 800px);
    background-color: $color_blue_darken;
    // @include size(100px, 100px);
}

// #app {
//     display: flex;
// }

// .listClock {
//     @include size(830px, 800px);
//     background-color: $color_red_light;
// }

// .breakTime_bg {
//     background-color: $color_blue_light;
//     transition-duration: $transition_time;
// }



// #function-change {
//     @include size(450px, 800px);
//     background-color: $color_blue_darken;
// }