@import "./function";


* {
    position: relative;
}

html,
body {
    @include size(100%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#app {
    display: flex;
}

.listClock {
    @include size(830px, 800px);
    background-color: $color_red_light;
}

.breakTime_bg {
    background-color: $color_blue_light;
    transition-duration: $transition_time;
}

// .todo-list {
//     z-index: -1;
// }

#function-change {
    @include size(450px, 800px);
    background-color: $color_blue_darken;
}