@import "./function";

#pomodoroClock {
    @include size(100%, 540px);
    // border: solid 1px black;

    position: absolute;
    top: 50%;
    right: -270px;
    transform: translateY(-50%);

    box-sizing: border-box;
    z-index: 100;

    .container {
        @include size(100%, 540px);

        .timer {
            font-size: 176px;
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            position: absolute;
            color: $color_red_middle;

            top: 50%;
            transform: translateY(-50%);
            left: -200px;

            transition-duration: $transition_time;
        }

        .countArea {
            @include size(540px, 540px);
            background-color: $color_red_middle;
            box-sizing: border-box;
            border-radius: 50%;
            position: absolute;
            right: 0%;
            display: flex;
            justify-content: center;
            align-items: center;

            transition-duration: $transition_time;
        }

        .breakTime_bg {
            background-color: $color_blue_middle;
            transition-duration: $transition_time;
        }

        .breakTime_color {
            color: $color_blue_middle;
            transition-duration: $transition_time;
        }
    }
}

button {
    background: transparent;
    border: none;
    outline: none;
    @include size(96px, 96px);

    img {
        color: white;
        @include size(100%, 100%);
    }
}

i.material-icons {
    font-size: 100px;
    color: $color_white;
    cursor: pointer;
}